<div class="container">

  <div id="mycarousel" class="carousel slide " data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img src="/travel.jpeg" alt="">
        <div class="carousel-caption">
          <h2> Travel the world </h2>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="hotels-list">

      <% hotels.each do |hotel| %>

          <div class="row">

            <div class="col-md-4">

              <img src=<%= hotel['image'] %>>
            </div>
            <div class="col-md-8">
              <div class="name">
                <%= hotel['name'] %>
              </div>
            </div>

          </div>
      <% end %>

    </div>
  </div>
</div>
