
  <div id="mycarousel" class="carousel slide " data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active with-bg-image">

        <div class="carousel-caption">
          <h1> Travel the world </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

  <div class="row">
    <div class="hotels-list">

      <% hotels.each do |hotel| %>

          <div class="row">

            <div class="col-md-4">

              <img src=<%= hotel['image'] %>>
            </div>
            <div class="col-md-8">
              <div class="name">
                <a href=<%= hotel['url']%> > <%= hotel['name'] %> </a>
              </div>
            </div>

          </div>
      <% end %>

    </div>
  </div>
</div>
