<h2> Grande Bay Resort and Spa </h2>

<div class="vr_view_container" style="text-align:center">
  <iframe
  frameborder="0"
  width="100%"
  height="100%"
  scrolling="yes"
  allowfullscreen
  src="https://radiant-thicket-88895.herokuapp.com/website/vrview/examples/hotspots/index.html?name=hall">
  </iframe>
</div>