<!DOCTYPE html>
<html>
  <head>
    <title>TravelAgency</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

  <body>
  <link href="https://api.motion.ai/sdk/webchat.css" rel="stylesheet" type="text/css">
  <script src="https://api.motion.ai/sdk/webchat.js"></script>
  <script>
    motionAI_Init('39006?color=000000&sendBtn=SEND&inputBox=Type+something...&token=a6cf123d8968363f5b4cf6480b1d81a7',true,400,470,'https://api.motion.ai/sdk/botbtn.png'); /* botID with access token, display bot icon?, modal width, modal height, call to action image */
    /* you may also invoke motionAI_Open(); to manually open the modal */
  </script>

    <%= yield %>
  </body>
</html>
